.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.uploadForm {
    margin-bottom: 10px;
}

.dataTable {
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.dataTable table {
    width: 100%;
}

.dataTable th,
.dataTable td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.dataTable th {
    background-color: #f2f2f2;
    font-weight: bold;
}
